INSERT INTO storage.buckets (id, name, public) VALUES ('site-assets', 'site-assets', true) ON CONFLICT (id) DO NOTHING;
CREATE POLICY \
Site
assets
are
publicly
accessible\ ON storage.objects FOR SELECT USING (bucket_id = 'site-assets');
CREATE POLICY \Admins
can
upload
site
assets\ ON storage.objects FOR INSERT WITH CHECK (bucket_id = 'site-assets' AND (SELECT is_admin FROM public.profiles WHERE id = auth.uid()) = true);
CREATE POLICY \Admins
can
update/delete
site
assets\ ON storage.objects FOR ALL USING (bucket_id = 'site-assets' AND (SELECT is_admin FROM public.profiles WHERE id = auth.uid()) = true);
